/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*===============================================
 My CSS Styles
 =============================================== */
* {
	box-sizing: border-box;
}


body {
	background: #fff;
	box-sizing: border-box;
	font-family: raleway; roboto; ransita; sans-serif;
	font-size: 100%;
	margin: 0;
}


h1 {
   text-align: center;
   font-weight: bold;
   margin: 30px 0 50px 0;
   font-size: 1.75em;
}

#container {
	width: 100%;
	max-width: 100%;
	margin: 0px;
	padding: 10px;
	 /*display: flex;
    justify-content: space-between; */
}

.menu {
	float:left;
	/*width:30%; */
	margin: 10px;
	background: #8297ba;
	border: 1px solid #000; 
	font-size: 1.25em;
	position: relative;
}
/*
div.foo {
	background: grey;
	border: 1px solid #000; 
	font-size: .75em;
	position: relative;
}
*/

div.food-type {
    text-align: center;
    font-weight: bold;
    padding: 10px;
	width: 40%;
	/*position: relative; */
	float: right;
	/*left: 70%;*/
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

div.chicken {
	background: #ffddc9;
}

div.beef {
	background: #ce3d35
;
	color: #fff;
}

div.sushi {
	background: #f2e426;
}

p {
	color: #fff;
	padding: 20px;
	font-size: 1em;
	clear: right;
}

@media all and (min-width: 992px) {
	.menu {width: calc( (100% - 60px) / 3);  }
	 /*#op-1.menu {width: calc( (100%-60px) / 3 ); }
	 #op-2.menu {width: calc( (100%-60px) / 3 ); }
	 #op-3.menu {width: calc( (100%-60px) / 3 ); } */

}

@media all and (min-width: 768px) and (max-width: 991px) {
	
	#op-1.menu {width: calc( (100% - 40px) / 2 );} /* 47% */
    #op-2.menu {width: calc( (100% - 40px) / 2 );}
    #op-3.menu {width: calc(100% - 20px);}
}

@media all and (max-width: 767px) {
	 .menu {width: calc(100% - 20px);}
}

